{% extends "base.html.j2" %}

{%block title%}Login{%endblock%}

{% block obsah %}

<h1>Login</h1>

<form method="post">
   login:<br>
   <input type="text"     name="nick" > <br>
   passwd:<br>
   <input type="password" name="passwd" ><br>
   <input type="submit" >
   <button>Odešli to</button>

</form>


{% endblock obsah %}

